<div class="m-2" style="border: 3px solid yellow; padding: 10px">
  <ng-form #form3="ngForm">
    <div class="form-group">
      <label for="form3">form-3 validity is: <span style="color: red" *ngIf="form3.dirty && form31.dirty; else elseBlock">true</span></label>
      <ng-template #elseBlock style="color: red">false</ng-template>
      <input type="text" class="form-control" id="form3" name="form3" [(ngModel)]="form3a">
    </div>
    <div class="m-2" style="border: 3px solid yellow; padding: 10px">
      <ng-form #form31="ngForm">
        <div class="form-group">
          <label for="form31">form-3.1 validity is: <span style="color: red">{{form31.dirty}}</span></label>
          <input type="text" class="form-control" id="form31" name="form31" [(ngModel)]="form31a">
        </div>
      </ng-form>
    </div>
  </ng-form>
</div>
